/* You can add global styles to this file, and also import other style files */
.led-display {
    border-left: 4px #0a0c0d solid;
    border-right: 4px #0a0c0d solid;
    font-family: led_display, serif;
    font-size: 16px;
    background-color: #0a0c0d;
    letter-spacing: 2px;
    color: orangered;
    display: block;
}
