<main>
    <section class="section section-shaped pt-0" style="height: 100vh">
        <div class="shape shape-style-1 shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="d-print-block">
            <a class="weatherwidget-io" href="https://forecast7.com/en/52d1211d63/magdeburg/"
               data-label_1="MAGDEBURG" data-label_2="WEATHER" data-font="Roboto" data-icons="Climacons Animated"
               data-theme="weather_one">MAGDEBURG WEATHER</a>
        </div>
    </section>
</main>
