.show-board{
  position: relative;
  background-color: #0a0c0d;
  min-height: 198px;
  width: 400px;
  border: 15px black solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 10px;
  .time{
    float: right;
    text-transform: full-width;
  }
  #info{
    width: 101%;
    background-color: black;
    height: 24px;
    position:absolute;
    bottom:0;
    border-top: 6px black;
  }
}
